.footer{
    background-color: #191818;
    height: 100%;
    position: relative;
}

.folder{
    position: absolute;
    display: flex;
    gap:0.5rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
    color:whitesmoke
}

.footer-props{
    
    display: flex;
    flex-direction: row;
    row-gap: 10rem;
 }

 .playlist-logo{
    width: 60px;
    height: 60px;
    border-radius: 0.25rem;
    text-align: center;
    font-size: larger;
}

 .song{
    margin-left: 17rem;
 }

 .details{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
 }

 .currSong{
    font-size: medium;
    color: whitesmoke;
 }
 .artist{
    font-size: small;
    color: silver;
 }