.div-bg{
    width:550px;
    height:100px;

}
.audio-div{
    
    width:500px;
    height:70px;
    margin-left: 10px;
    margin-right: 6px;
    box-sizing: border-box;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
}

.box-div{
    display: flex;
    justify-content:space-between ;
    flex-direction: row;
    row-gap: 10px;
}

.stack-div{
    display:flex;
    justify-content: flex-start;
    width: 25%;
    align-items: center;
    gap: 10px;
}

.stack2-div{
    display:flex;
    width: 40%;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
.stack3-div{
    display: flex;
    align-items: center;
    direction: row;
    gap: 10px;
}
.stack4-div{
    display:flex;
    width: 40%;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    
}