.container{
    background-color: black;
    width: 20vw;
    padding: 0.4rem 1rem;
}
.logo{
    width: 125px;
}
.ulist{
    color: rgba(255, 255, 255, 0.623);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: rgba(128, 128, 128, 0.254);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
}
li{
    display: flex;
    align-items: center;
    gap:1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover{
        color: white;
    }
}

.li-playlist{
    color:whitesmoke;
    height: 3rem;
    padding: 0.4rem 1rem;
}
.li-playlist:hover{
    background-color:rgba(89, 88, 88, 0.393);
    border-radius: 0.5rem;
}
.playlists{
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.254);
    padding: 0.4rem 1rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0.5rem;
    
}
.library{
    display: flex;
    gap: 0.5rem;
    color: silver;
    align-items:center;
    cursor: pointer;
    margin-bottom: 1rem;
}
.library:hover{
    color: white;
}


.playlist-logo{
    width: 60px;
    height: 60px;
    border-radius: 0.25rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.playlist-artist{
    font-size: small;
    color: silver;
}

.playlist-name{
    font-size: medium;
}

.playlist-info{
    display: flex;
    flex-direction: column;
    gap:2px;
}